@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
  }
.container{
    /* width: 376px;
    height: 200px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0%;
}
.contain{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    padding-top: 2.5rem;
}

.About> ul >li {
    grid-row:1/2;
    grid-column: 2/3;
    list-style-type: none;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin: 7px;
}
.donate_button{
    grid-row: 2/3;
    grid-column: 1/3;
    width: 312px;
    height: 40px;
    margin-left: 1.6rem;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border: #C1F7D5;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    cursor: pointer;
}

.container-1{
    background-image: url("/Stylesheet/Image/annie-spratt-427339-unsplash.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 150px;
}
.background_image h1{
    font-family:Flood ;
    margin-right: 100px;
    text-align: left;
    font: normal normal normal 44px/46px Flood ;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    top:30%;
    left:5%;
}
.the_issue1{
    position: absolute;
    top: 480px;
    right: 180px;
    width: 158px;
    height: 28px;
    background-color: #354463;
    color: #FFFFFF;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    padding-top: 5%;
}
.Donate{
    position: relative;
    top: 140px;
    left: 5px;
    width: 312px;
    height: 264px;
    background-color: #FFFFFF;
    text-align: center;
    margin-left: 7%;
}
.text2{
    position: relative;
    top:30px;
    width: 248px;
    height: 200px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
    padding-left: 30px;
    
}
.container-3{
    background-color: #354463;
    
}
.inner-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;;
    margin-left: auto;
    margin-right: auto;
}
.mission{
    grid-row: 1/2;
    text-align: center;
    color: #FFFFFF;
}
.mission > h5{
    background-color: #FFFFFF;
    width: 160px;
    height: 40px;
    color: #354463;
    text-align: center;
    margin-left: 200px;
    padding-top: 20px;
    font: normal normal normal 14px/17px Helvetica;
    margin-bottom: 20px;

}

.text3{
    grid-column: 2/3;
    width: 160px;
    height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.text3 > h5{
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    margin-top: 100px;
}
.Icon_Person{
    grid-column: 1/2;
    text-align: left;
    
    padding-left: 30px;
}
.Icon_Person > h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.Icon_Person > p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
}
.Earth_Icon{
    grid-column: 2/3;
    color: #FFFFFF;

}
.Earth_Icon > h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.Earth_Icon > P{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding-right: 20px;
}
.Icon_sun{
    grid-column: 1/2;
    color: #FFFFFF;
}
.Icon_sun > h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 20px;
}
.Icon_sun > p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding-left: 20px;
}
.Icon_flower{
    grid-column: 2/3;
    color: #FFFFFF;
}
.Icon_flower > h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-right: 20px;
}
.Icon_flower > p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding-right: 20px;
}
.Icon_heart{
   grid-column: 1/2;
   color: white;
}
.Icon_heart > h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-right: 20px;
    padding-left: 20px;
}
.Icon_heart > p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding-left: 20px;
}
.Icon_hand{
    grid-column: 2/3;
    color: #FFFFFF;
}
.Icon_hand >h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.Icon_hand > p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding-right: 20px;
}
.Icon_people{
    grid-column: 1/2;
    color: #FFFFFF;
}
.Icon_people > h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 20px
}
.Icon_people > p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding-left: 20px;

}
.Plant_new_seed{
    grid-column: 2/3;
    color: #FFFFFF;
}
.Plant_new_seed > h5{
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-right: 20px;
}
.Plant_new_seed > p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding-right: 20px;
}
.container-4{
    background-color: #FFFFFF;
}
.Inner-container-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;;
    margin-left: auto;
    margin-right: auto;
}
.Our_team{
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    background-color: #354463;
    width: 158px;
    height: 40px;
    margin-top: 30px;
    margin-left: 120px;
    padding-top: 20px;
}
.Meeting{
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;

}
.Meeting > h5{
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: 30px;
    width: 256px;
    height: 50px;
    padding-top: 0px;
    margin-left: 50px;
}
.Leader{
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}
.Leader > p{
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    width: 304px;
    height: 80px;
}
.Image-1{
    grid-column: 1/2;
    justify-content: left;
   
}
.Image-1 > p{
    
    grid-column: 1/2;
    justify-content: left;
    background-color: #354463;
    color: #FFFFFF;
    margin-top:0px;
}
.Image-2{
    
    grid-column: 2/3;
    justify-content: righ;
    background-color: #354463;
    color: #FFFFFF;
    margin-top:0px;

}
.Image-2 > p{
    grid-column: 1/2;
    grid-column: 2/3;
    justify-content: left;
    background-color: #354463;
    color: #FFFFFF;
    margin-top:0px;
}
.Image-3{
    
    grid-column: 1/2;

}
.Image-4{
   
    grid-column: 2/3;
}
.Image-5{
    
    grid-column: 1/2;
}
.Image-6{
    
    grid-column: 2/3;
}

