 body{
    background-image: url("Image/Home.png");
    /* background-image: url("Image/#stopclimatechange.svg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 910px;
    margin-top: 50px;
    
}
.container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;

}

.button {
    background-color: rgb(164, 214, 185);
    height: 50px;
    width: 150px;
    border-color: rgb(164, 214, 185);
    border-style: solid;
    border-radius: 100px;
    cursor: pointer;
    font-size: large;
    margin-top: 5px;

}

.about {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 100;
    padding: 15px;
}

.Our {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 100;
    padding: 15px;
}

.News {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 100;
    padding: 15px;
}

.contain {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 20px;
    font-weight: 100;

}
.home{
    height: 100vh;
    width: 100vw;
}
.The_Issuse{
    top: 495px;
    left: 110px;
    width: 158px;
    height: 550px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    left: 800px;
    background-color: black;
    height: 40px;  
}
.container1 > .Text{
    background-color: #FFFFFF;
    position: absolute;
    top: 520px;
    left: 751px;
    width: 278px;
    height: 2200px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;

}
.container1 > .read_more{
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    position: absolute;
    top: 671px;
    left: 780px;
    width: 248px;
    height: 42px;
}
.container1 > .take_action{
    background-color: black;
    color: white;
    position: absolute;
    top: 778px;
    left: 800px;
    width: 158px;
    height: 50px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;

}
.container3{
    position: absolute;
    background-color: rgb(164, 214, 185);;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
}
.container3 >.learn{
    
    position: absolute;
    left: 32px;
    top: 0px;
    
}
.container3 >.Volunteer{
    position: absolute;
    top: 0px;
    right: 132px;
    text-align: center;
    height: 18px;
}
.container3 > .share{
    position: absolute;
    top:200px;
    left: 32px;
    text-align: center;
}
.container3 > .Donate{
    position: absolute;
    text-align: center;
    right: 132px;
    top: 200px;
}
.container4{
    position: absolute;
    top:968px;
    background-color: rgb(37, 37, 101);
    left: 0;
    height: 7224px;
    width: 100vw;
    
}
@media only screen and (max-width:810px) {
    body{
        background-image: url("Image/Home.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
        
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
        width: 50%;
        
    }

    .button {

        background-color: rgb(164, 214, 185);
        height: 50px;
        width: 250px;
        border-color: rgb(164, 214, 185);
        border-style: solid;
        border-radius: 100px;
        cursor: pointer;
        font-size: large;
        margin-left: 20%;

    }

    .about {
        font-family: sans-serif;
        font-size: 15px;
        color: black;
        font-weight: 100;
        padding: 15px;
        text-align: right;
        font-size: x-small;
        
    }

    .Our {
        font-family: sans-serif;
        font-size: 15px;
        color: black;
        font-weight: 100;
        padding: 15px;
    }

    .News {
        font-family: sans-serif;
        font-size: 15px;
        color: black;
        font-weight: 100;
        padding: 15px;
    }

    .contain {
        display: flexbox;
        flex-wrap: wrap;
        padding: 40px;
        margin-right: 60px;
        width: 60%;
        font-size:medium;
    }

    .menu {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

}
@media only screen and (max-width:572px) {
    body{
        background-image: url("Image/Home.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
        
    }
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 1fr;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
        width: 50%;
        
    }

    .button {

        background-color: rgb(164, 214, 185);
        height: 50px;
        width: 250px;
        border-color: rgb(164, 214, 185);
        border-style: solid;
        border-radius: 100px;
        cursor: pointer;
        font-size: large;
        margin-left: 20%;

    }

    .about {
        font-family: sans-serif;
        font-size: 15px;
        color: black;
        font-weight: 100;
        padding: 15px;
        text-align: right;
        font-size: x-small;
        
    }

    .Our {
        font-family: sans-serif;
        font-size: 15px;
        color: black;
        font-weight: 100;
        padding: 15px;
    }

    .News {
        font-family: sans-serif;
        font-size: 15px;
        color: black;
        font-weight: 100;
        padding: 15px;
    }

    .contain {
        display: flexbox;
        flex-wrap: wrap;
        padding: 40px;
        margin-right: 60px;
        width: 60%;
        font-size:medium;
    }

    .menu {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

} 
